<div class="home">
  
  <div class="content">
    <img src="../../assets/images-new/2024/bulk/1.jpg" style="margin-bottom: 10vh; margin-top: -5vh;">
    <div class="text">
      <p>We are happy to announce the launch of the robotics club ViCyber<br> <br></p>

      What are our goals? 🎯<br> <br>
      <p>ViCyber's main objective is to improve the abilities of it's members. They'll have the chance to learn programming, circuit design, robot arhitecture and, ultimately, to participate in the "First Tech Challange" competition.<br> <br></p>
      
      A big thank you to our sponsors 🙏 <br> <br>
      <p>We want to show our deepest gratitude to all of the sponsors who've made this project possible! Without their generous and dedicated support, this dream wouldn't have become reality. 🚀</p> <br> <br>
      
      Find out more about us: ❓
      <p>See the <a href="/history">history</a> page.</p>
    </div>

  </div>

  <h1 style="text-align: center; color: yellowgreen;">The latest news</h1>

  <app-news></app-news>

</div>
