.content{
    margin-top: 5vh;
}

p{
    color: white;
}
  
img{
    width: 100%;
}

.text{
    margin-left: 2.5%;
    margin-bottom: 10vh;
    width: 95%;
    text-align: center;
    color: greenyellow;
    font-size: 1.2rem;
}

@media (max-width: 600px){
    .team-image{
        display: none;
    }
}

.team-image{
    margin-left: 2.5%;
    border-radius: 0.5vh;
    width: 20%;
    height: 20%;
    margin-bottom: 5vh;
}

.text-image{
    margin-top: 3rem;
    display: flex;
}
