
<div class="bg-black">
    <div class="flex justify-center gap-[3vw] ml-[5vw] w-[90vw]">
        <a class="w-[10vw] mt-[5vh] invert" href="https://www.gameloft.com/">
            <img src="../../assets/images-new/sponsori/gameloft.png" class="sponsor-footer" alt="Gameloft">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://www.emerson.com/en-us/global">
            <img src="../../assets/images/emerson standard-01.png" class="sponsor-footer" alt="Emerson">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://www.nuclearelectrica.ro/">
            <img src="../../assets/images-new/sponsori/nuclearelectrica.png" class="sponsor-footer" alt="Nuclearelectrica">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://www.autonom.ro/">
            <img src="../../assets/images-new/sponsori/autonom.png" class="sponsor-footer" alt="Autonom">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://unico.org.ro/">
            <img src="../../assets/images-new/sponsori/universitateaCopiilor.png" class="sponsor-footer" alt="Unico">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://www.nebulox.ro/">
            <img src="../../assets/images-new/sponsori/nebulox.png" class="sponsor-footer" alt="Nebulox">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://portal.lbi.ro/">
            <img src="../../assets/images-new/sponsori/vianu.png" class="sponsor-footer" alt="Vianu">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://biochem.ro/">
            <img src="../../assets/images-new/sponsori/Biochem-logo.png" class="sponsor-footer" alt="Biochem">
        </a>
        <a class="w-[10vw] mt-[5vh]" href="https://deflorian.ro/ro/">
            <img src="https://deflorian.ro/img/logo-deflorian.svg" class="sponsor-footer" alt="Biochem">
        </a>
    </div>    

    <div>
        <a href="https://www.firstinspires.org/robotics/ftc">
            <img src="../../assets/images-new/sponsori/ftcxnatie.svg" class="w-[90vw] ml-[5vw] mt-[5vh]">
        </a>
    </div>
    <p>&copy;Copyright ViCyber 2024</p>
</div>
