
<div class="footer">
    <div class="content">
        <!-- Carousel for Mobile -->
        <div id="carouselExample" class="carousel slide d-md-none" data-bs-ride="carousel" style="height: 20vh;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://www.gameloft.com/">
                    <img src="../../assets/images-new/sponsori/gameloft.png" class="sponsor-footer" alt="Gameloft">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.emerson.com/en-us/global">
                    <img src="../../assets/images/emerson standard-01.png" class="sponsor-footer" alt="Emerson">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.nuclearelectrica.ro/">
                    <img src="../../assets/images-new/sponsori/nuclearelectrica.png" class="sponsor-footer" alt="Nuclearelectrica">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.autonom.ro/">
                    <img src="../../assets/images-new/sponsori/autonom.png" class="sponsor-footer" alt="Autonom">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://unico.org.ro/">
                    <img src="../../assets/images-new/sponsori/universitateaCopiilor.png" class="sponsor-footer" alt="Unico">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.nebulox.ro/">
                    <img src="../../assets/images-new/sponsori/nebulox.png" class="sponsor-footer" alt="Nebulox">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://portal.lbi.ro/">
                    <img src="../../assets/images-new/sponsori/vianu.png" class="sponsor-footer" alt="Vianu">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://biochem.ro/">
                    <img src="../../assets/images-new/sponsori/Biochem-logo.png" class="sponsor-footer" alt="Biochem">
                    </a>
                </div>
            </div>
        </div>
  
        <!-- Normal Display for Desktop -->
        <div class="sponsor-div d-none d-md-flex flex-wrap justify-content-center">
            <a href="https://www.gameloft.com/">
                <img src="../../assets/images-new/sponsori/gameloft.png" class="sponsor-footer" alt="Gameloft">
            </a>
            <a href="https://www.emerson.com/en-us/global">
                <img src="../../assets/images/emerson standard-01.png" class="sponsor-footer" alt="Emerson">
            </a>
            <a href="https://www.nuclearelectrica.ro/">
                <img src="../../assets/images-new/sponsori/nuclearelectrica.png" class="sponsor-footer" alt="Nuclearelectrica">
            </a>
            <a href="https://www.autonom.ro/">
                <img src="../../assets/images-new/sponsori/autonom.png" class="sponsor-footer" alt="Autonom">
            </a>
            <a href="https://unico.org.ro/">
                <img src="../../assets/images-new/sponsori/universitateaCopiilor.png" class="sponsor-footer" alt="Unico">
            </a>
            <a href="https://www.nebulox.ro/">
                <img src="../../assets/images-new/sponsori/nebulox.png" class="sponsor-footer" alt="Nebulox">
            </a>
            <a href="https://portal.lbi.ro/">
                <img src="../../assets/images-new/sponsori/vianu.png" class="sponsor-footer" alt="Vianu">
            </a>
            <a href="https://biochem.ro/">
                <img src="../../assets/images-new/sponsori/Biochem-logo.png" class="sponsor-footer" alt="Biochem">
            </a>
            <a href="https://deflorian.ro/ro/">
                <img src="https://deflorian.ro/img/logo-deflorian.svg" class="sponsor-footer" alt="Biochem">
            </a>
        </div>    

        <div>
            <a href="https://www.firstinspires.org/robotics/ftc">
                <img src="../../assets/images-new/sponsori/ftcxnatie.svg" style="width: 80%; padding: 2vh;">
            </a>
        </div>
        <p>&copy;Copyright ViCyber 2024</p>
    </div>
</div>
