<div class="md:mt-[7vh] mt-[10vh]">
    <h1 class="text-white text-center w-full">
        Many thanks to:
    </h1>
</div>
<div class="mt-[10vh] md:flex block gap-[3vw] md:ml-[5vw] md:mr-[5vw]">
    <a href="https://www.gameloft.com/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/gameloft.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh] invert">
    </a>
    <a href="https://www.emerson.com/en-us/global" class="md:w-[10vw]">
        <img src="../../assets/images/emerson standard-01.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://www.nuclearelectrica.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/nuclearelectrica.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://www.autonom.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/autonom.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://unico.org.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/universitateaCopiilor.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://www.nebulox.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/nebulox.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://portal.lbi.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/vianu.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://biochem.ro/" class="md:w-[10vw]">
        <img src="../../assets/images-new/sponsori/Biochem-logo.png" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a href="https://deflorian.ro/ro/" class="md:w-[10vw]">
        <img src="https://deflorian.ro/img/logo-deflorian.svg" class="md:ml-[0vw] md:w-[10vw] ml-[40vw] w-[20vw] mt-[3vh]">
    </a>
    <a class="w-[10vw] mt-[5vh]" href="https://www.agrafa.ro/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWNJ9pv8GRo9YliCv7h7ifiR3DniOyGpkJug&s" alt="Agrafa">
    </a>
    <a class="w-[10vw] mt-[5vh]" href="https://www.p-a.ro/">
        <img src="../../assets/images-new/sponsori/pop&asociatii.png" alt="Agrafa">
    </a>
</div>

<app-news [tags]="this.tags"></app-news>
