<div class="content">
    <h1 class="title">
        Many thanks to:
    </h1>

    <a href="https://www.gameloft.com/">
        <img src="../../assets/images-new/sponsori/gameloft.png">
    </a>
    <a href="https://www.emerson.com/en-us/global">
        <img src="../../assets/images/emerson standard-01.png">
    </a>
    <a href="https://www.nuclearelectrica.ro/">
        <img src="../../assets/images-new/sponsori/nuclearelectrica.png">
    </a>
    <a href="https://www.autonom.ro/">
        <img src="../../assets/images-new/sponsori/autonom.png">
    </a>
    <a href="https://unico.org.ro/">
        <img src="../../assets/images-new/sponsori/universitateaCopiilor.png">
    </a>
    <a href="https://www.nebulox.ro/">
        <img src="../../assets/images-new/sponsori/nebulox.png" class="sponsor-footer">
    </a>
    <a href="https://portal.lbi.ro/">
        <img src="../../assets/images-new/sponsori/vianu.png" class="sponsor-footer">
    </a>
    <a href="https://biochem.ro/">
        <img src="../../assets/images-new/sponsori/Biochem-logo.png" class="sponsor-footer">
    </a>
</div>
