


<nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand"   routerLink="">
        <img class="navbar-img" src="assets/images/vicyber.png" alt="">
    </a>
    <a class="navbar-brand gameloft"  href="http://www.gameloft.ro/">
        <img class="" src="assets/images/logo_gameloft_black.png" alt="">
    </a>
        <a class="navbar-brand emerson"  href="https://www.emerson.com">
        <img class="navbar-img" src="assets/images/emerson standard-01.png" alt="">
    </a>
    <div class="navbar-text">
        <a class="nav-l"  routerLink=""> Home</a>
        <a class="nav-l"  routerLink="contact"> Contact</a>
    </div>
</nav>