.title{
    width: 20%;
    color: yellowgreen;
}

@media (max-width: 600px){
    .title{
        margin-left: -10% !important;
    }
}

.translate-button{
    width: 20%;
    background-color: rgb(62, 62, 62);
    color: yellowgreen;
    border-radius: 1vh;
    height: 7vh;
    font-size: 3vh;
    border-color: yellowgreen;
    transition: 0.4s;
}

.translate-button:hover{
    background-color: rgb(140, 140, 140);
}

nav{
    display: flex;
    /* position: fixed; Wow. De asta se suprapunea headerul cu contentul paginilor */
    width: 100%;
    z-index: 20;
}
.navbar-custom {
    background-color: black;
}



.navbar-img{
    width: 20vh;
}
.navbar-text{
    font-size: 1.5rem;
    text-decoration: none;
}
nav .fa {
    display: none;

}

a:hover{
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 1360px) {
    
    .mobile-sponsors{
        margin: auto;
        display: none;
        width: fit-content;
    }
    
    .navbar-text{
        text-align: center;
    }
    .allign{
        margin: auto;
    }
    ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        position: absolute;
        background: #6a8a39e8;
        height: 1000vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 11;
        transition: 0.5s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        width: max-content;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .sponsors{
        display: none;
    }
    li{
        margin: auto;
    }
    .mobile-sponsors{
        display: flex;
        animation-timing-function: ease-out;
        animation-duration: 3s;
        align-items: center;
    }
    .sponsorsBox{
        width: fit-content;
        margin: auto;
    }
    
}
.logos{
    width: 100%;
}
#logo{
    filter: invert(1);
}
nav{
    background-color: rgba(1, 1, 1, 0);
}
/* .nav-l{
    margin: 0 2vw  ;
} */

#gameloft{
    filter: invert(1);

}

.nav-links {
    flex: 1;
    text-align: right;
}
.navbar-brand{
    margin-left: 3vw;
}

/*  */
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2vh 2vw;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}



.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    color: rgb(0, 0, 0);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.sponsors{
    margin-right: 6vw;
}



#biochem{
    max-height: 60px;
    width: 51.2px;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }
