
<div class="md:flex block justify-start h-[13vh]">
  <a class="w-1/6 ml-[1vw] md:block hidden" routerLink="">
    <img class="w-[10vh] invert" src="assets/images/vicyber.png" alt="">
  </a>
  <p class="text-green-500 md:w-1/2 w-full md:text-[3vw] text-[7vw] md:pt-[2vh] pt-[1vh] text-center font-mono">ViCyber</p>
  <div class="md:w-1/2 w-full md:gap-[3vw] gap-[6vw] md:pt-[4vh] flex justify-center">
    <a class="text-white md:text-[1.5vw] text-[4vw]"  routerLink=""> Home</a>
    <a class="text-white md:text-[1.5vw] text-[4vw]"  routerLink="news"> News</a>
    <a class="text-white md:text-[1.5vw] text-[4vw]"  routerLink="history"> History</a>
    <a class="text-white md:text-[1.5vw] text-[4vw]"  routerLink="sponsori"> Sponsors</a>
    <a class="text-white md:text-[1.5vw] text-[4vw]"  routerLink="contact"> Contact</a>
  </div>
</div>
