nav{
    display: flex;

}


.navbar-img{
    width: 100px;
}
.navbar-text{
    font-size: 1.5rem;
    text-decoration: none;
}
nav .fa {
    display: none;
    
}

a:hover{
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
   
    .mobile-sponsors{
        display: none;
    }
    
    .navbar-text{
        text-align: center;
    }
    .allign{
        margin: auto;
    }
    ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        position: absolute;
        background: #6a8a39e8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 11;
        transition: 0.5s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        width: max-content;
    }

    .sponsors{
        display: none;
    }
    li{
        margin: auto;
    }
    .mobile-sponsors{
        display: flex;
        animation-timing-function: ease-out;
        animation-duration: 3s;
    }
    
}
.logos{
    width: 100%;
}
nav{
    background-color: #88aa54;
    height: max-content;
}
.nav-l{
    margin: 0 2vw  ;
}

.nav-links {
    flex: 1;
    text-align: right;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 13px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}



.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    color: rgb(0, 0, 0);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }