
<div class="text-center text-white">
    <!-- 2025 -->
    <p class="pt-[5vh] md:text-[2vw] text-[10vw]">2024-2025</p>
    <div class="flex md:ml-[30vw]">
        <div class="md:w-[20vw] mb-[10vh]">
            <h2>
                Our team:
            </h2>
            <img class="mt-[3vh]" src="../../assets/images-new/2025/poza-de-grup.png">
        </div>
        <div class="md:w-[20vw]">
            <h2>
                Our robot:
            </h2>
            <img class="mt-[3vh]" src="../../assets/images-new/2025/robot2025.png">

            <p class="md:text-[1vw]">
                Find out more in our techincal notebook 
                <a href="../../assets/pdfs/Engineering PORTOFOLIO ITD _20250225_140151_0000.pdf" download="Engineering Portfolio">here</a>
            </p>
        </div>
    </div>

    <p class="md:text-[1vw] text-[5vw]">Gallery:</p>
    <div id="carouselExample" class="carousel slide md:ml-[30vw] mb-[5vh] md:w-[40vw]" data-bs-ride="carousel">
        <div class="carousel-inner mb-[10vh]">
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/1.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/2.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/3.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/4.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item active" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/5.png" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/6.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/7.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/8.jpeg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2025/9.jpeg" alt="Slide 2">
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <!-- 2024 -->
    <p class="pt-[5vh] md:text-[2vw] text-[10vw]">2023-2024</p>
    <div class="flex md:ml-[30vw]">
        <div class="md:w-[20vw] mb-[10vh]">
            <h2>
                Our team:
            </h2>
            <img class="mt-[3vh]" src="../../assets/images-new/2024/caiete-tehnice/2024-membri-1.png">
            <img src="../../assets/images-new/2024/caiete-tehnice/2024-membri-2.png">
        </div>
        <div class="md:w-[20vw]">
            <h2>
                Our robot:
            </h2>
            <img class="mt-[3vh]" src="../../assets/images-new/2024/caiete-tehnice/2024-robot.png">

            <p class="md:text-[1vw]">
                Find out more in our techincal notebook 
                <a href="../../assets/pdfs/caiet-tehnic-2024.pdf" download="caiet-tehnic-2024">here</a>
            </p>
        </div>
    </div>

    <p class="md:text-[1vw] text-[5vw]">Gallery:</p>
    <div id="carouselExample" class="carousel slide md:ml-[30vw] mb-[5vh] md:w-[40vw]" data-bs-ride="carousel">
        <div class="carousel-inner mb-[10vh]">
            <div class="carousel-item active" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/2.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/3.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/4.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/5.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/6.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/7.jpg" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2024/bulk/8.jpg" alt="Slide 2">
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <!-- 2023 -->
    <p class="md:text-[2vw] text-[10vw]">
        2022-2023
    </p>
    <div class="flex md:ml-[30vw] mb-[10vh]">
        <div class="md:w-[20vw] w-[50vw]">
            <h2>
                Our team:
            </h2>
            <p class="md:text-[1vw]">
                1. Lupu Ana Lorena <br>
                2. Dinca Cristian-Mihai <br>
                3. Moldovan Laura <br>
                4. Patachia-Sultanoiu Dorothea <br>
                5. Opritoiu Iulia Cristiana <br>
                6. Rau Cristina Mihaela <br>
                7. Radu Andrei Tudose <br>
                8. Gheorghe Bogdan Constantin <br>
                9. Thomason April Elisabeta <br>
                10. Bhiolar Vlad-Stefan <br>
                11. Dumitrescu Andrei <br>
                12. Bogdan Theodora-Maria <br>
                13 Cojocaru Calin-Marcu <br>
            </p>
        </div>
        <div class="md:w-[20vw] w-[50vw]">
            <h2>
                Our robot:
            </h2>
            <img src="../../assets/images-new/2023/robot-2023.png" class="w-full">
        </div>
    </div>

    <p class="md:text-[1vw] text-[5vw]">Gallery:</p>
    <div id="carouselExample" class="carousel slide md:ml-[30vw] md:w-[40vw] mb-[10vh]" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/1.jpg" alt="Slide 1">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/2.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item active" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/3.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/4.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/5.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/6.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/7.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/8.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/9.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/10.jpg"  alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="w-full" src="../../assets/images-new/2023/bulk/11.jpg"  alt="Slide 2">
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <!-- 2021 - 2022 -->
    <p class="md:text-[2vw] text-[10vw]">
        2021-2022
    </p>
    <div class="mb-[10vh]">
        <p class="md:text-[1vw]">
            1. Iancu Popp <br>
            2. Cezar Baluta <br>
            3. Matei Sebastian <br>
            4. Popa Petru <br>
            5. Mihnea Gusu <br>
        </p>
    </div>

    <app-news [tags]="tags"></app-news>
</div>
