
<div class="content">

    <!-- 2024 -->
    <h1 class="title">2023-2024</h1>
    <div style="display: flex;">
        <div class="membri-div">
            <h2>
                Our team:
            </h2>
            <img src="../../assets/images-new/2024/caiete-tehnice/2024-membri-1.png">
            <img src="../../assets/images-new/2024/caiete-tehnice/2024-membri-2.png">
        </div>
        <div class="robot-div">
            <h2>
                Our robot:
            </h2>
            <img src="../../assets/images-new/2024/caiete-tehnice/2024-robot.png">

            <p>
                Find out more in our techincal notebook 
                <a href="../../assets/pdfs/caiet-tehnic-2024.pdf" download="caiet-tehnic-2024">here</a>
            </p>
        </div>
    </div>

    <h2>Gallery:</h2>
    <div id="carouselExample" class="carousel slide" style="margin-top: -5vh;" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/1.jpg" class="d-block image-top" alt="Slide 1">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/2.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/3.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/4.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/5.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/6.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/7.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/images-new/2024/bulk/8.jpg" class="d-block" alt="Slide 2">
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: black; border-radius: 0.3rem;" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: black; border-radius: 0.3rem;" aria-hidden="true"></span>
        </button>
    </div>

    <!-- 2023 -->
    <h1 class="title">
        2022-2023
    </h1>
    <div style="display: flex;">
        <div class="membri-div">
            <h2>
                Our team:
            </h2>
            <p class="align-left">
                1. Lupu Ana Lorena <br>
                2. Dinca Cristian-Mihai <br>
                3. Moldovan Laura <br>
                4. Patachia-Sultanoiu Dorothea <br>
                5. Opritoiu Iulia Cristiana <br>
                6. Rau Cristina Mihaela <br>
                7. Radu Andrei Tudose <br>
                8. Gheorghe Bogdan Constantin <br>
                9. Thomason April Elisabeta <br>
                10. Bhiolar Vlad-Stefan <br>
                11. Dumitrescu Andrei <br>
                12. Bogdan Theodora-Maria <br>
                13 Cojocaru Calin-Marcu <br>
            </p>
        </div>
        <div class="robot-div">
            <h2>
                Our robot:
            </h2>
            <img src="../../assets/images-new/2023/robot-2023.png">
        </div>
    </div>

    <h2>Gallery:</h2>
    <div id="carouselExample" class="carousel slide" style="margin-top: -5vh;" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/1.jpg" class="d-block image-top" alt="Slide 1">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/2.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/3.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/4.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/5.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/6.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/7.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/8.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/9.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/10.jpg" class="d-block" alt="Slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/images-new/2023/bulk/11.jpg" class="d-block" alt="Slide 2">
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: black; border-radius: 0.3rem;" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: black; border-radius: 0.3rem;" aria-hidden="true"></span>
        </button>
    </div>

</div>
