<div class="max-w-7xl mx-auto px-6 md:px-12">
  <div class="text-center text-gray-400 md:text-[1vw] text-[5vw] mb-[5vh]">
    <div class="border-2 h-auto rounded-2xl border-white bg-gray-900">
      <h1>Create article</h1>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
      <label class="border-2 rounded-2xl" for="fileInput">
        {{ selectedFileName || 'Select a file' }}
      </label> <br>
      <textarea [(ngModel)]="articleTag" class="border-2 rounded-2xl w-full text-center" placeholder=
      "Enter an article tag here to dictate what page the article should show up on (ex: any, sponsor, home, history, etc.)"
      ></textarea> <br>
      <textarea [(ngModel)]="apiKey" class="border-2 rounded-2xl w-full text-center" placeholder="Enter admin api key here"></textarea> <br>
      <button class="border-2 rounded-2xl" (click)="uploadFile()">Upload</button>  
    </div>  
  </div>

  <div class="border-2 h-auto rounded-2xl border-white bg-gray-900">
    <div class="text-center text-gray-400 md:text-[1vw] text-[5vw]">
      <h1>Delete article</h1>
      <textarea [(ngModel)]="deleteID" class="border-2 rounded-2xl w-full text-center" placeholder="Enter ID of article to delete"></textarea> <br>
      <textarea [(ngModel)]="apiKey" class="border-2 rounded-2xl w-full text-center" placeholder="Enter admin api key here"></textarea>
      <button (click)="deleteArticle()" class="border-2 rounded-2xl">Delete</button>
    </div>
  </div>
</div>