<div class="article-div">
    <h2>Test</h2>
    <p>
        Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. Lorem ipsum blah blah. 
    </p>
</div>
