.article-div{
    background-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 1vh;
}

h2{
    color: yellowgreen;
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

p{
    color: white;
    text-align: justify;
    font-size: 2vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5%;
    padding-right: 5%;
}
