<div class="max-w-7xl w-full mx-auto px-6 md:px-12">
  <div class="text-center text-gray-400 md:text-[1vw] text-[5vw]">
          <div class="h-auto rounded-2xl border-white bg-gray-900 text-sm">
            <div class="py-[15px] block md:flex grid-cols-3 justify-center gap-12 items-center">
              <div class="flex gap-2 justify-center">
                <img class="w-[2vh] invert object-contain" src="assets/images-new/2025/ig.png">
                <a class="text-white font-bold" href="https://www.instagram.com/vi.cyber/">&#64;vi.cyber</a>
              </div>

              <div class="flex gap-2 justify-center">
                <img class="w-[2vh] invert object-contain" src="assets/images-new/2025/fb.png">
                <a class="text-white font-bold" href="https://www.facebook.com/people/ViCyber/61552184049850/">&#64;ViCyber</a>
              </div>

              <div class="flex gap-2">
                <i class="fa fa-envelope fa-lg"></i>
                <p class="text-white"> robovianu&#64;gmail.com </p>
              </div>

              <div>
                <h5 class="text-white">Marketing Department</h5>
                <p>
                  <i class="fa fa-phone fa-lg"></i>
                  <span> +40 741 492 912</span>
                </p>
              </div>

              <div>
                <h5 class="text-white">Coordinating Teacher</h5>
                <p>
                  <i class="fa fa-phone fa-lg"></i>
                  <span> +40 723 673 454</span>
                </p>
              </div>

              <div>
                <a href="https://linktr.ee/vicyber" class="text-white font-bold">linktr.ee/vicyber</a>
              </div>
            </div>
          </div>
    </div>
  </div>