<div class=" contact-info" >
        <p>
          <i class="fa fa-envelope fa-lg"></i>
          <span class="accent2">Email:</span>
          <span class="accent"> robovianu&#64;gmail.com</span>
        </p>
        <h3 style="margin-top: 3vh; color: yellowgreen;">Marketing Department</h3>
        <h4>Gheorghe Bogdan</h4>
        <p>
          <i class="fa fa-phone fa-lg"></i>
          <span class="accent"> +40 741 492 912</span>
        </p>
        <h3 style="margin-top: 3vh; color: yellowgreen;">Coordinating Teacher</h3>
        <h4>Coman Isabela</h4>
        <p>
          <i class="fa fa-phone fa-lg"></i>
          <span class="accent">+40 723 673 454</span>
        </p>
  </div>
