<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      
    </div>



</div>
      <div class=" contact-info" >
        <h3>Contact Information</h3>
        <div class=" contactContent">
          <p>
            <i class="fa fa-envelope fa-lg"></i>
            <span class="accent2">Email:</span>
            <span class="accent"> robovianu@gmail.com</span>
          </p>
          <p>
            <i class="fa fa-phone fa-lg"></i>
            <span class="accent2">Tel:</span>
            <span class="accent"> +40758040412</span>
          </p>
      </div>
  </div>
</div>