#footer {
    height: 70vh;
    margin-top: 40vh;
}

input {
    background-color: transparent;
    color: #f1f1f1;
}

.copy {
    margin-top: 5%;
    text-align: center;
}

.title1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 10%;
    color: #88aa54;
}

/* /////////////////////////////////////////// */

.contact-info {
    background-color:rgba(136, 170, 84, 1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20vh;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-info h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;

}

.contact-info p {
    font-size: 18px;
    width: 100vw;
    margin-top: 20px;
}

.accent2 {
    color: #ffffff;
}


#message {
    margin-top: 5%;
}

i {
    margin: 0 1%;
}

.container{
    height: 85vh;
}
